.nav {
	@include tablet {
		display: flex;
	}

	&__list {

		@include tablet {
			display: flex;
			flex-wrap: wrap;
			gap: 28px;
		}

		@include mobileMax {
			margin-bottom: 39px;
		}

	}

	&__item {


		@include mobileMax {
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}

		@include desktop {
			flex-basis: auto;
		}

	}

	&__link {
		font-family: Georgia, 'Times New Roman', Times, serif;

		@include desktop {
			@include font(20px, 500, 1.2, 0.02em);

		}

		&:hover,
		&:focus {
			color: #26c0b4;
		}

		&--current {

			color: #26c0b4;
		}

		@include font(16px, 500, 1.2, 0.02em);
		position: relative;
		padding-bottom: 10px;
		text-decoration: none;
		transition: color $duration $timing-function;

		@include tablet {
			@include font(14px, 500, 1.1, 0.02em);



			@include desktop {
				@include font(16px, 500, 1.1, 0.02em);
			}
		}

		position: relative;
		text-decoration: none;
		color: inherit;
		color: #166c65;

		&--current::after {
			content: "";
			position: absolute;
			bottom: -1px;
			display: block;
			width: 100%;
			height: 4px;
			background-color: #26c0b4;

			border-radius: 2px;
		}
	}
}