.nav {
	@include tablet {
		display: flex;
	}

	&__list {

		@include tablet {
			display: flex;
			flex-wrap: wrap;
			gap: 28px;
		}

		@include mobileMax {
			margin-bottom: 39px;
		}

	}

	&__item {


		@include mobileMax {
			&:not(:last-child) {
				margin-bottom: 32px;
			}
		}

		@include tablet {
			// flex-basis: calc((100% - 112px) / 4);

		}


		@include desktop {
			// flex-basis: calc((100% - 112px) / 4);

		}

	}

	&__link {

		font-family: Georgia, 'Times New Roman', Times, serif;

		@include tablet {
			@include font(16px, 500, 1.2, 0.02em);
		}

		@include desktop {
			@include font(18px, 500, 1.2, 0.02em);

		}

		&:hover,
		&:focus {
			color: #26c0b4;
		}

		&--current {

			color: #26c0b4;
		}


		position: relative;
		padding-bottom: 10px;
		text-decoration: none;
		transition: color $duration $timing-function;

		// @include tablet {
		// 	@include font(14px, 500, 1.1, 0.02em);



		// 	@include desktop {
		// 		@include font(16px, 500, 1.1, 0.02em);
		// 	}
		// }

		position: relative;
		text-decoration: none;
		color: inherit;
		color: #009292;

		&--current::after {
			content: "";
			position: absolute;
			bottom: -1px;
			display: block;
			width: 100%;
			height: 4px;
			background-color: #26c0b4;

			border-radius: 2px;
		}
	}
}