.fonds {

	// background-image: url(..//..//..//images/10802.jpg);
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;

	padding: 20px 0;

	&__logo {
		width: 100px;
		height: 100%
	}

	&__title {
		@include font(26px, 700, 1.2, 0.03em);
		text-transform: uppercase;
		display: inline-block;
		margin-bottom: 35px;
		background-image: linear-gradient(to left, #26c0b4, #166c65);
		color: transparent;
		background-clip: text;

		@include desktop {
			@include font(46px, 700, 1.2, 0.03em);
		}

		@include tablet {
			text-align: center;
			// padding: 35px 0;
			@include font(38px, 600, 1.8, 0.07em);

			@include desktop {
				@include font(48px, 900, 1.8, 0.07em);

			}
		}
	}

	&__list {
		display: flex;
		// flex-wrap: nowrap;
		flex-direction: column;
		gap: 20px;
		list-style: none;
	}

	&__item {

		border-radius: 10px;

		box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

		// border: 1px solid green;

		// flex-basis: calc((100% - 40px) / 3);

		// @include tablet {
		// 	flex-basis: calc((100% - 40px) / 3);
		// }

		@include desktop {
			// flex-basis: calc((100% - 100px) / 3);
		}

		transition: transform 0.3s ease;

		&:hover,
		&:focus {
			transform: scale(1.03);
		}

	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
	}

	// &__link {}
}