.buttons {
    padding: 25px 0 0 0;
    margin-bottom: 25px;

    @include tablet {
        margin-bottom: 45px;
    }

    @include desktop {
        padding: 65px 0 0 0;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 3px;

    @include tablet {
        justify-content: center;
        column-gap: 8px;
        row-gap: 5px;
    }

    @include desktop {
        column-gap: 12px;
        row-gap: 12px;
    }

    &__button {
        cursor: pointer;
        @include font(14px, 900, 1.9, 0.05em);
        background-color: transparent;
        border: 1.5px solid #009292;
        border-radius: 5px;
        color: #009292;
        padding: 3px 5px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        @include tablet {
            padding: 3px 10px;

        }

        @include desktop {
            @include font(18px, 900, 1.4, 0.05em);

        }

        &:hover {
            background-image: radial-gradient(circle, #26c0b4, #1db4ac, #13a9a3, #099d9b, #009292);
            color: white;


            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            transition: background-image $duration $timing-function,
                color $duration $timing-function,
                box-shadow $duration $timing-function,
        }


    }
}


.gallery {
    padding: 0 0 65px 0;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        margin-bottom: 45px;
    }

    @include desktop {
        margin: -15px;
    }

    &__item {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow $duration $timing-function;

        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @include tablet {
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }

        @include desktop {
            flex-basis: calc((100% - 3 * 30px) / 3);
            margin: 15px;
        }
    }

    &__img-wrap {
        position: relative;
    }

    &__img {
        width: 100%;
        display: block;
    }

    &__logo {
        width: 85px;
        position: absolute;
        bottom: 8px;
        left: 8px;
    }

    &__tab {
        padding: 10px 24px;
    }

    &__tab--name {
        @include font(18px, 700, 1.9, 0.03em);
        font-family: Georgia, "Times New Roman", Times, serif;
        text-align: center;
        text-transform: uppercase;
        color: #009292;
        text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.46);
    }

    &__tab--specifical {
        @include font(17px, 900, 1.9, 0.03em);
        text-align: center;
        color: #666666;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

        &::before {
            content: "";
            display: block;
            border-bottom: 1.5px solid #666666;
            margin-top: 8px;
            margin-bottom: 8px;

        }

    }
}